<template>
  <div class="not-found">
    <page-header>Not Found</page-header>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'

export default {
  components: {
    PageHeader
  }
}
</script>
