<template>
  <company-layout :user="user">
  </company-layout>
</template>

<script>
import CompanyLayout from '@/components/CompanyLayout'
// apollo
import { USER } from '../apollo'

export default {
  components: {
    CompanyLayout
  },
  data () {
    return {
      user: null
    }
  },
  computed: {
    userId () {
      return parseInt(this.$route.params.id)
    }
  },
  apollo: {
    user: {
      query: USER,
      variables () {
        return {
          id: this.userId
        }
      },
      skip () {
        return !this.userId
      }
    }
  }
}
</script>
