<template>
  <div class="catalog-list">
    <page-header>Участники</page-header>

    <ul v-if="userList.length > 0">
      <li v-for="item in userList" :key="`company-${item.id}`">
        <router-link :to="{ name: 'catalog-item', params: { id: item.id } }">
          {{ item.company_info.company_name }}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'
// utils
import { mapState } from 'vuex'
// apollo
import { USER_LIST } from '../apollo'

export default {
  components: {
    PageHeader
  },
  data () {
    return {
      userList: []
    }
  },
  computed: {
    ...mapState('account', {
      userId: state => state.userId
    })
  },
  apollo: {
    userList: {
      query: USER_LIST,
      variables () {
        const condition = {}

        return {
          condition: condition
        }
      }
    }
  }
}
</script>
