// Colors

// Typography
//

$font-family-sans-serif: 'Helvetica Neue', Arial, 'Noto Sans', 'Liberation Sans', sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$font-family-base: $font-family-sans-serif;

// Body
//

$body-bg: #f7f7f9;
$body-color: #373a3c;

// Link
//

$link-decoration: none;
$link-hover-decoration: underline;

// Navbar

$navbar-dark-color: $white;
