<!DOCTYPE html>
<html lang="ru">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="icon" href="<%= BASE_URL %>favicon.ico">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= BASE_URL %>favicon-16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= BASE_URL %>favicon-32.png">
    <link rel="icon" type="image/png" sizes="48x48" href="<%= BASE_URL %>favicon-48.png">
    <title>АЭБ Маркетплейс</title>
  </head>
  <body>
    <noscript>
      <strong>Пожалуйста, включите JavaScript.</strong>
    </noscript>
    <div id="app"></div>
    <!-- built files will be auto injected -->
  </body>
</html>
