<template>
  <company-layout class="profile" :user="user">

  </company-layout>
</template>

<script>
import CompanyLayout from '@/components/CompanyLayout'
// utils
import { mapState } from 'vuex'
// apollo
import { USER } from '../apollo'

export default {
  components: {
    CompanyLayout
  },
  data () {
    return {
      user: null
    }
  },
  computed: {
    ...mapState('account', {
      userId: state => state.userId
    })
  },
  apollo: {
    user: {
      query: USER,
      variables () {
        return {
          id: this.userId
        }
      },
      skip () {
        return !this.userId
      }
    }
  }
}
</script>
