<template>
  <div class='company-info'>
    <header class='company-info__header'>
      <h4 class='company-info__title'>{{ item.value }}</h4>
      <p>{{ status }} <icon name='check-fill' width='16' height='16' /></p>
    </header>

    <div class='company-info__body'>
      <div class='company-info__desc'>
        <table class='table'>
          <tbody>
            <tr>
              <th>ИНН</th>
              <td>{{ company.inn }}</td>
            </tr>
            <tr>
              <th>ОГРН</th>
              <td>{{ company.ogrn }}</td>
            </tr>
            <tr>
              <th class="text-nowrap">Дата регистрации</th>
              <td>{{ date }}</td>
            </tr>
            <tr>
              <th class="text-nowrap">Адрес регистрации</th>
              <td>{{ company.address.value }}</td>
            </tr>
            <tr>
              <th>Основной вид деятельности</th>
              <td>
                <span class="text-muted mb-1 d-inline-block">{{ okvd.kod }}</span><br>
                {{ okvd.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import Icon from '@/components/Icon'
// utils
import toDate from 'date-fns/toDate'
import { formatDate } from '@/utils'

export default {
  components: {
    Icon
  },
  props: {
    item: Object
  },
  data () {
    return {
      okvd: {}
    }
  },
  computed: {
    company () {
      return this.item.data
    },
    status () {
      const status = this.company.state.status
      const statusList = {
        ACTIVE: 'Действующая организация',
        LIQUIDATING: 'Организация ликвидируется',
        LIQUIDATED: 'Организация ликвидирована',
        BANKRUPT: 'Банкротство',
        REORGANIZING: 'Организация в процессе присоединения к другому юрлицу, с последующей ликвидацией'
      }

      return statusList[status]
    },
    date () {
      return formatDate(toDate(this.company.state.registration_date), 'dd.MM.yyyy')
    }
  },
  mounted () {
    this.getOkvd()
  },
  methods: {
    getOkvd () {
      const url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/okved2'
      const token = 'f612b675764f922282a525efaff5d036bcb81a7c'

      const options = {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: `Token ${token}`
        },
        body: JSON.stringify({ query: this.company.okved })
      }

      fetch(url, options)
        .then(response => response.json())
        .then(result => {
          if (result.suggestions.length > 0) {
            this.okvd = result.suggestions[0].data
          }
        })
        .catch(error => console.error('error', error))
    }
  }
}
</script>

<style lang='scss' scoped>
.company-info {
  margin-top: 60px;

  &__header {
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }
}
</style>
