<template>
  <form class="organization-form" @submit.prevent="onSumbit">
    <div class="organization-form__check form-check">
      <input v-model="personal" class="form-check-input" type="checkbox" id="personalCheck">
      <label class="form-check-label" for="personalCheck">
        Согласен на обработку персональных данных. Без этого согласия нельзя зарегистрироваться. <a href="#">Подробнее о том, как мы храним и обрабатываем данные</a>.
      </label>
    </div>
    <div class="organization-form__check form-check">
      <input v-model="credit" class="form-check-input" type="checkbox" id="creditCheck">
      <label class="form-check-label" for="creditCheck">
        Согласен предоставить доступ к кредитной истории организации. Это необязательно, но может повысить рейтинг организации. <a href="#">Подробнее о рейтинговании</a>.
      </label>
    </div>

    <footer class="organization-form__footer">
      <button type="submit" class="btn btn-primary" :disabled="!personal">Продолжить</button>
    </footer>
  </form>
</template>

<script>
export default {
  data () {
    return {
      personal: false,
      credit: false
    }
  },
  methods: {
    onSumbit () {
      this.$emit('submit', { processing_of_personal_data: this.personal, provide_access_to_credit_history: this.credit })
    }
  }
}
</script>

<style lang="scss" scoped>
.organization-form {
  border-top: 1px solid #e5e5e5;
  margin-top: 30px;
  padding-top: 30px;

  &__check {
    & + & {
      margin-top: 12px;
    }
  }

  &__footer {
    margin-top: 40px;
    text-align: center;
  }
}
</style>
