<template>
  <div class='search-form'>
    <h5 class='search-form__title'>Давайте найдем вашу организацию и загрузим основные сведения.</h5>

    <form class='search-form__form' @submit.prevent='onSubmit'>
      <div class='search-form__group input-group mb-3'>
        <input v-model.trim='query' type='text' class='form-control' placeholder='Введите ИНН или ОГРН организации' aria-label='Введите ИНН или ОГРН организации' aria-describedby='button-search'>
        <button class='btn btn-primary' type='submit' id='button-search'>Искать</button>
      </div>
    </form>
  </div>
</template>

<script>
// utils
import { isInnValid, isOgrnValid } from '@/utils'

export default {
  props: {
    value: {
      type: String,
      default: null
    }
  },
  data () {
    return {
      query: this.value
    }
  },
  mounted () {
    if (isInnValid(this.value) || isOgrnValid(this.value)) {
      this.onFetch(this.value)
    }
  },
  methods: {
    onFetch (query) {
      const url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/party'
      const token = 'f612b675764f922282a525efaff5d036bcb81a7c'

      const options = {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: `Token ${token}`
        },
        body: JSON.stringify({
          query: query,
          branch_type: 'MAIN'
        })
      }

      fetch(url, options)
        .then(response => response.json())
        .then((result) => {
          if (result.suggestions.length > 0) {
            this.$emit('change', result.suggestions[0])
            if (this.$route.query.id !== query) {
              this.$router.push({ name: 'signup-search', query: { id: query } })
            }
          }
        })
        .catch(error => console.error('error', error))
    },
    onSubmit () {
      if (isInnValid(this.query) || isOgrnValid(this.query)) {
        this.onFetch(this.query)
      }
    }
  }
}
</script>

<style lang='scss' scoped>
.search-form {
  margin-left: auto;
  margin-right: auto;
  max-width: 610px;

  &__title {
    @include font-size(1.125rem);
    font-weight: bold;
    margin-bottom: 30px;
    text-align: center;
  }

  &__group {
    margin-left: auto;
    margin-right: auto;
    max-width: 550px;
  }
}
</style>
