<template>
  <div v-if="user" class="company">
    <page-header>
      {{ user.company_info.company_name }}

      <template v-slot:extra>
        <p>Действующая организация <icon name='check-fill' width='16' height='16' /></p>
      </template>
    </page-header>
    <div class="company__rating">
      <rating :value="user.company_info.rating" title="Рейтинг организации"/>

      <div class="row mt-4">
        <div class="col-lg-5">
          <h5 class="mb-3">Базовые баллы</h5>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" name='check' width='16' height='16' /> Стартовый рейтинг <badge class="ms-auto">3.0</badge>
            </li>
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" :name="user.company_info.current_account_statement ? 'check' : 'close'" width='16' height='16' /> Выписка с расчетного счета <badge v-if="user.company_info.current_account_statement" class="ms-auto">{{ user.company_info.current_account_statement }}</badge>
            </li>
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" :name="user.company_info.list_of_contractors ? 'check' : 'close'" width='16' height='16' /> Список контрагентов <badge v-if="user.company_info.list_of_contractors" class="ms-auto">0.3</badge>
            </li>
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" :name="user.services ? 'check' : 'close'" width='16' height='16' /> Предоставляемые услуги <badge v-if="user.services" class="ms-auto">0.3</badge>
            </li>
          </ul>
        </div>
        <div class="col-lg-5 offset-lg-2">
          <h5 class="mb-3">Бонус</h5>
          <ul class="list-unstyled">
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" :name="user.company_info.credit_history ? 'check' : 'close'" width='16' height='16' /> Кредитная история <badge class="ms-auto">{{ user.company_info.credit_history }}</badge>
            </li>
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" :name="user.company_info.cash_flow ? 'check' : 'close'" width='16' height='16' /> Движение денежных средств <badge v-if="user.company_info.cash_flow" class="ms-auto">{{ user.company_info.cash_flow }}</badge>
            </li>
            <li class="d-flex align-items-center mb-1">
              <icon class="me-2" :name="user.company_info.verification_of_partners ? 'check' : 'close'"  width='16' height='16' /> Верификация от партнеров <badge class="ms-auto">{{ user.company_info.verification_of_partners }}</badge>
            </li>
          </ul>
        </div>
      </div>
    </div>

    <div class="company__service">
      <h5 class="text-center mb-4">Предоставляемые услуги</h5>

      <div v-if="user.company_info.services" class="row justify-content-lg-between">
        <div class="col-lg-5" v-for="(item, index) in user.company_info.services" :key="`service-${index}`">
          <h6>{{ item.title }}</h6>
          <ul class="list-unstyled">
            <li v-for="(item, index) in item.services" :key="`service-${index}`">
              {{ item }}
            </li>
          </ul>
        </div>
      </div>
      <p v-else class="text-muted text-center">У этой организации еще не указаны товары и услуги.</p>
    </div>

    <div>
      <div class="row">
        <div class="col-lg-5">
          <company-info :user="user" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import PageHeader from './PageHeader'
import Icon from './Icon'
import Rating from './Rating'
import Badge from './Badge'
import CompanyInfo from './CompanyInfo'

export default {
  components: {
    PageHeader,
    Icon,
    Rating,
    Badge,
    CompanyInfo
  },
  props: {
    user: Object
  }
}
</script>

<style lang="scss" scoped>
.company {
  &__service {
    border-top: 1px solid #e5e5e5;
    margin-top: 40px;
    padding-top: 40px;
  }
}
</style>
