<template>
  <div class='company-info'>
    <div class='company-info__body'>
      <div class='company-info__desc'>
        <h6 class="text-center mb-4">Основные сведения</h6>
        <table class='table'>
          <tbody>
            <tr>
              <th>ИНН</th>
              <td>{{ user.inn }}</td>
            </tr>
            <tr>
              <th>ОГРН</th>
              <td>{{ user.company_info.ogrn }}</td>
            </tr>
            <tr>
              <th class="text-nowrap">Дата регистрации</th>
              <td>{{ date }}</td>
            </tr>
            <tr>
              <th class="text-nowrap">Адрес регистрации</th>
              <td>{{ user.reg_address }}</td>
            </tr>
            <tr v-if="okvd">
              <th>Основной вид деятельности</th>
              <td>
                <span class="text-muted mb-1 d-inline-block">{{ okvd.kod }}</span><br>
                {{ okvd.name }}
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
// utils
import parse from 'date-fns/parse'
import { formatDate } from '@/utils'

export default {
  props: {
    user: Object
  },
  data () {
    return {
      okvd: null
    }
  },
  computed: {
    company () {
      return this.item.data
    },
    date () {
      return formatDate(parse(this.user.reg_date, 'yyyy-MM-dd', new Date()), 'dd.MM.yyyy')
    }
  },
  mounted () {
    // this.getOkvd()
  },
  methods: {
    getOkvd () {
      const url = 'https://suggestions.dadata.ru/suggestions/api/4_1/rs/findById/okved2'
      const token = 'f612b675764f922282a525efaff5d036bcb81a7c'

      const options = {
        method: 'POST',
        mode: 'cors',
        headers: {
          'Content-Type': 'application/json',
          Accept: 'application/json',
          Authorization: `Token ${token}`
        },
        body: JSON.stringify({ query: this.user.company_info.okvd })
      }

      fetch(url, options)
        .then(response => response.json())
        .then(result => {
          if (result.suggestions.length > 0) {
            this.okvd = result.suggestions[0].data
          }
        })
        .catch(error => console.error('error', error))
    }
  }
}
</script>

<style lang='scss' scoped>
.company-info {
  margin-top: 60px;

  &__header {
    margin-bottom: 30px;
    text-align: center;
  }

  &__title {
    margin-bottom: 20px;
  }
}
</style>
