<template>
  <svg v-if="name" class="icon" :height="height" :width="width" :fill="fill" :stroke="stroke"><use :xlink:href="sprite + '#' + name" :href="sprite + '#' + name"></use></svg>
</template>

<script>
import Sprite from '@/assets/icons.svg'

export default {
  props: {
    name: String,
    width: String,
    height: String,
    fill: String,
    stroke: String
  },
  data () {
    return {
      sprite: Sprite
    }
  }
}
</script>

<style lang="scss" scoped>
.icon {
  display: inline-block;
  vertical-align: middle;
}
</style>
