<template>
  <div class="logo">
    <icon name="logo" width="75" height="24" />
    Маркетплейс
  </div>
</template>

<script>
import Icon from './Icon'

export default {
  components: {
    Icon
  }
}
</script>
