<template>
  <header class="page-header">
    <h1 class="page-header__title display-3">
      <slot></slot>
    </h1>
    <slot name="extra"></slot>
  </header>
</template>

<style lang="scss" scoped>
.page-header {
  margin-bottom: 70px;
  text-align: center;

  &__h1 {
    margin-bottom: 0;
  }
}
</style>
