<template>
  <div class="popover fade show bs-popover-end">
    <div class="popover__arrow popover-arrow"></div>
    <h3 class="popover__header popover-header">
      <slot name="title"></slot>
    </h3>
    <div class="popover-body">
      <slot></slot>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.popover {
  position:relative;
  max-width: 338px;

  &__arrow {
    position: absolute;
    top: 0px;
    transform: translate(0px, 78px);
  }

  &__header {
    font-weight: bold;
  }
}
</style>
