<template>
  <div class="rating">
    <div class="rating__title">
      <span class="rating__value" :class="ratingClass">{{ parsedValue }}</span> / 5
    </div>
    <div class="rating__desc">{{ title }}</div>
  </div>
</template>

<script>
export default {
  props: {
    value: Number,
    title: {
      type: String,
      default: 'Стартовый рейтинг'
    }
  },
  computed: {
    parsedValue () {
      return parseFloat(this.value).toFixed(1)
    },
    ratingClass () {
      if (this.value > 4) {
        return 'text-success'
      }

      return 'text-warning'
    }
  }
}
</script>

<style lang="scss" scoped>
.rating {
  @include font-size(.875rem);

  text-align: center;

  &__title {
    @include font-size(1.25rem);
  }

  &__value {
    @include font-size(2.5rem);
  }
}
</style>
