<template>
  <div class="site-layout">
    <div class="site-layout__header">
      <slot name="header"></slot>
    </div>
    <div class="container">
      <main class="site-layout__body">
        <slot></slot>
      </main>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.site-layout {
  padding: 0 0 40px;

  &__body {
    background: $white;
    padding: 100px 95px;
  }
}
</style>
