<template>
  <header class="site-header">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
      <div class="container">
        <router-link class="navbar-brand" :to="{ path: '/' }">
          <logo />
        </router-link>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <router-link class="nav-link" :to="{ name: 'catalog-list' }">Участники</router-link>
            </li>
            <li class="nav-item ms-lg-3">
              <a class="nav-link" href="#">Товары и услуги</a>
            </li>
            <li class="nav-item ms-lg-3">
              <a class="nav-link" href="#">Справка</a>
            </li>
            <li v-if="!isGuest" class="nav-item ms-lg-3">
              <router-link class="nav-link" :to="{ name: 'account-profile' }">Личный кабинет</router-link>
            </li>
          </ul>
          <router-link v-if="isGuest" class="btn btn-sm ms-lg-3 site-header__btn" :to="{ name: 'signup-search' }">
            Добавить организацию
          </router-link>
        </div>
      </div>
    </nav>
  </header>
</template>

<script>
import Logo from './Logo'
// utils
import { mapState } from 'vuex'

export default {
  components: {
    Logo
  },
  computed: {
    ...mapState('account', {
      isGuest: state => state.isGuest
    })
  }
}
</script>

<style lang="scss" scoped>
.site-header {
  &__btn {
    background: $white;
    color: $primary;
  }
}
</style>
