<template>
  <site-layout id="app">
    <template v-slot:header>
      <site-header></site-header>
    </template>

    <router-view />

  </site-layout>
</template>

<script>
import SiteLayout from './components/SiteLayout'
import SiteHeader from './components/SiteHeader'
// utils
import { mapActions } from 'vuex'

export default {
  components: {
    SiteLayout,
    SiteHeader
  },
  computed: {
    routeName () {
      return this.$route.name
    }
  },
  watch: {
    routeName (val) {
      if (val.includes('extra') || val.includes('account')) {
        this.onSetUserStatus(false)
      } else {
        this.onSetUserStatus(true)
      }
    }
  },
  methods: {
    ...mapActions('account', {
      onSetUserStatus: 'onSetUserStatus'
    })
  }
}
</script>

<style lang="scss">

</style>
