<template>
  <div v-if="user" class="signup-extra">
    <page-header>Регистрация на маркетплейсе</page-header>

    <div class="signup-extra__desc">
      <h4 class="signup-extra__title">
        {{ company.company_name }}
      </h4>

      <p>Добавьте дополнительные сведения, чтобы показать, что вы надежный поставщик товаров и услуг. Это поможет потенциальным партнерам сделать выбор в пользу вашей организации. Добавить сведения можно позже в любой момент.</p>
      <p>
        <router-link :to="{ name: 'account-profile' }">Пропустить этот шаг</router-link>
      </p>
    </div>

    <div class="signup-extra__body">
      <rating :value="company.rating"/>

      <form @submit.prevent="onSubmit">
        <section class="mt-5">
          <header class="signup-extra__header">
            <h5>Добавьте выписку с расчетного счета <badge class="ms-2">+0.3</badge></h5>
            <p class="text-muted">Выписка действительна 3 месяца со дня выдачи, затем нужно загрузить актуальную, иначе организация потеряет 0.3 балла рейтинга.</p>
          </header>

          <div class="row mt-4">
            <div class="col-lg-5">
              <section class="py-4 px-4">
                <h6 class="mb-3">Загрузить вручную</h6>
                <p>Выписку о состоянии лицевого счета как правило можно скачать в личном кабинете банка.</p>
                <div class="mt-3">
                  <input @change="onFileBankChange" class="form-control form-control-sm" id="bankFile" type="file">
                </div>
              </section>
            </div>
            <div class="col-lg-6 offset-lg-1">
              <section class="card py-4 px-4">
                <h6 class="mb-3">Интеграция с банком</h6>
                <p>Просто авторизуйтесь в личном кабинете своего банка, остальное мы сделаем сами.</p>
                <img width="296" src="../../../assets/banks.png">
              </section>
            </div>
          </div>
        </section>

        <div class="row mt-5">
          <div class="col-lg-5">
            <section class="text-center">
              <h6 class="mb-4">Добавьте контрагентов <badge class="ms-2">+0.3</badge></h6>
              <p>
                Список контрагентов можно выгрузить из системы учета или составить самостоятельно <a href="#" class="text-nowrap">по шаблону</a> <icon name="download" width="16" height="14" />
              </p>
              <div class="mt-3">
                <input @change="onFileAgentChange" class="form-control form-control-sm" id="agentFile" type="file">
              </div>
            </section>
          </div>
          <div class="col-lg-6 offset-lg-1">
            <section class="text-center">
              <h6 class="mb-4">Добавьте предоставляемые услуги <badge class="ms-2">+0.3</badge></h6>
              <select v-model="service" class="form-select">
                <option v-for="item in serviceList" :key="`service-${item.id}`">{{ item.title }}</option>
              </select>
            </section>
          </div>
        </div>

        <footer class="signup-extra__footer">
          <button type="submit" class="btn btn-primary">Продолжить</button>
        </footer>
      </form>
    </div>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'
import Rating from '@/components/Rating'
import Icon from '@/components/Icon'
import Badge from '@/components/Badge'
// utils
import { mapState } from 'vuex'
// apollo
import { USER, SERVICE_LIST } from '../apollo'

export default {
  components: {
    PageHeader,
    Rating,
    Icon,
    Badge
  },
  data () {
    return {
      user: null,
      service: null,
      serviceList: [],
      agentFile: [],
      bankFile: []
    }
  },
  computed: {
    ...mapState('account', {
      userId: state => state.userId
    }),
    company () {
      if (!this.user) return {}

      return this.user.company_info
    }
  },
  apollo: {
    user: {
      query: USER,
      variables () {
        return {
          id: this.userId
        }
      },
      skip () {
        return !this.userId
      }
    },
    serviceList: {
      query: SERVICE_LIST
    }
  },
  methods: {
    onFileBankChange (e) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) return

      this.bankFile = files
    },
    onFileAgentChange (e) {
      const files = e.target.files || e.dataTransfer.files
      if (!files.length) return

      this.agentFile = files
    },
    onSendFiles () {
      const url = 'https://functions.yandexcloud.net/d4enjpb771h21r8s4i6r'
      const formData = new FormData()

      formData.append('user_id', this.userId)
      formData.append('company_id', this.company.id)

      if (this.bankFile.length > 0) {
        formData.append('file', this.bankFile[0])
        formData.append('cash_flow', true)
      }
      if (this.agentFile.length > 0) {
        formData.append('file', this.agentFile[0])
      }

      fetch(url, {
        method: 'POST',
        body: formData
      })
        .then(r => r.json())
        .then(data => {
          this.onSendService()
        })
        .catch(error => console.error('error', error))
    },
    onSendService () {
      this.$router.push({ name: 'account-profile' })
    },
    onSubmit () {
      if (this.bankFile.length > 0 || this.agentFile.length > 0) {
        this.onSendFiles()
      } else {
        this.onSendService()
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.signup-extra {
  &__title {
    margin-bottom: 30px;
  }

  &__desc,
  &__header {
    margin-left: auto;
    margin-right: auto;
    max-width: 730px;
    text-align: center;
  }

  &__body {
    border-top: 1px solid #E5E5E5;
    margin-top: 40px;
    padding-top: 40px;
  }

  &__footer {
    margin-top: 44px;
    text-align: center;
  }
}
</style>
