<template>
  <div class="signup-search">
    <page-header>Регистрация на маркетплейсе</page-header>

    <search-form :value="id" @change="onChange"  />

    <template v-if="company && isCompanyActive" >
      <div class="signup-search__desc">
        <company-info :item="company" />

        <div class="row align-items-center">
          <div class="col-4">
            <rating :value="3.0"/>
          </div>
          <div class="col-8">
            <popover>
              <template v-slot:title>Что влияет на рейтинг</template>

              Активность организации, cash flow, частота и количество сделок, а также верификация со стороны контрагентов влияют на рейтинг. Вы можете добавить эти сведения на следующем этапе и повысить рейтинг.
            </popover>
          </div>
        </div>
      </div>

      <organization-form @submit="onSubmit" />
    </template>
  </div>
</template>

<script>
import PageHeader from '@/components/PageHeader'
import Rating from '@/components/Rating'
import Popover from '@/components/Popover'
import SearchForm from '../components/SearchForm'
import CompanyInfo from '../components/CompanyInfo'
import OrganizationForm from '../components/OrganizationForm'
// apollo
import { USER_INSERT } from '../apollo'
// utils
import toDate from 'date-fns/toDate'
import { formatDate } from '@/utils'
import { mapActions } from 'vuex'

export default {
  components: {
    PageHeader,
    SearchForm,
    CompanyInfo,
    OrganizationForm,
    Rating,
    Popover
  },
  data () {
    return {
      company: null
    }
  },
  computed: {
    id () {
      return this.$route.query.id
    },
    isCompanyActive () {
      return this.company.data.state.status === 'ACTIVE'
    }
  },
  methods: {
    ...mapActions('account', {
      onSetUserId: 'onSetUserId'
    }),
    onChange (value) {
      this.company = value
    },
    onSubmit (value) {
      const user = {
        inn: this.company.data.inn,
        name: 'Тест',
        phone_number: '79998887766',
        patronymic: 'Тестовый',
        reg_address: this.company.data.address.value,
        reg_date: formatDate(toDate(this.company.data.state.registration_date), 'yyyy-MM-dd'),
        surname: 'Тестович',
        ...value
      }

      user.company_info = {
        data: {
          company_name: this.company.value,
          ogrn: this.company.data.ogrn
        }
      }

      this.onUserInsert(user)
    },
    onUserInsert (user) {
      this.$apollo.mutate({
        mutation: USER_INSERT,
        variables: {
          object: user
        }
      }).then(({ data }) => {
        const id = data.insert_user.returning[0].id
        this.onSetUserId(id)
        this.$router.push({ name: 'signup-extra' })
      }).catch((error) => {
        console.error(error)
      })
    }
  }
}
</script>

<style lang="scss" scoped>
.signup-search {
  &__desc {
    margin-left: auto;
    margin-right: auto;
    max-width: 540px;
  }
}
</style>
